// Buttons

$button-base-color: #0074D9;
$button-text-color: #ffffff;

// Navigation

$top-navbar-color: #333333;
$top-navbar-link-color: #f2f2f2;
$top-navbar-link-hover-color: #dddddd;
$top-navbar-link-hover-text-color: #000000;
$top-navbar-active-color: #777777;
$top-navbar-active-text-color: #dddddd;